body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
a{
    color: white;
}
footer{
    background-color: #983713;
    margin: 0;
    text-align: right;
}
button{
    background-color: #D3D3D3;
    color: #2F2F2F;
    border: 2px;
    border-color: #2F2F2F;
    margin: 5px;
    padding-top:  10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
input{
    color: orange;
}
p{
    margin: 0;
}
#left{
    background-color: #FF7F50;
    width:80%;
    height: 500px;
    display: block;
    margin: 0;
    float: left;
}
#right{
    background-color: #FF7F50;
    width: 20%;
    height: 500px;
    display: inline-block;
    margin: 0;
}
.top{
    width: 17%;
    float: left;
    margin: 0;
    height: 100px;
    background-color: #983713;
    display: block;
}
.top1{
    width: 49%;
    float: left;
    margin: 0;
    height: 100px;
    background-color: #983713;
}